<!doctype html>
<html>


  <head>
    <meta charset="utf-8" />
    <title>Organisation de tournoi</title>
    <!-- On importe notre fichier css -->
    <link href="{{ url_for('static', filename='mon_style.css') }}" rel="stylesheet" type="text/css" />
    <!-- On importe la librairie Brython -->
    <script type="text/javascript" src="{{url_for('static', filename='brython.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython_stdlib.js') }}"></script>
    <!-- On importe notre favicon et la police -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>



  <body onload="brython(1)">

    <header class="site-header">
      <!-- Bouton de retour à l'accueil -->
      <div><a id="bouton_retour" href="{{ url_for('accueil') }}"><h4>Retour à l'accueil</h4></a></div>
      <!-- Grand titre -->
      <h1>{{ type_tournoi }} à {{ nbr_player }} joueurs</h1>
    </header>



    <section  class="site-content">
        {% set count = [1] %}

        {% for i in range(nbr_matchs) %}

          <!-- Affichage des rounds -->
          {% if count[0]==matchlist[i][0] %}
            <h5>Round {{count[0]}}</h5>
            {% if count.append(count.pop() + 1) %}{% endif %} <!-- On incrémente count de 1 -->
          {% endif %}

          <!-- Affichage des matchs -->
          <div id="matchs" class="match{{i+1}}"><b>Match {{i+1}} :</b>    </br>

            <form method="post" action="{{ url_for('results') }}">
              <!-- Bouton pour selectionner le joueurs 1 -->
              <input type="radio" name="match{{i+1}}" value={{matchlist[i][1]}} id="j1m{{i}}+1">
              <label for="j1m{{i}}+1">{{matchlist_pseudo[i][1][0][0]}}</label>

              <input type="radio" name="match{{i+1}}" value=0 id="drawm{{i}}+1">
              <label for="drawm{{i}}+1">Égalité</label>

              <!-- Bouton pour selectionner le joueurs 2 -->
              <input type="radio" name="match{{i+1}}" value={{matchlist[i][1]}} id="j2m{{i}}+1">
              <label for="j2m{{i}}+1">{{matchlist_pseudo[i][2][0][0]}}</label>
          </div>

        {% endfor %}</br></br>

        <!-- Bouton d'envoi du formulaire -->
        <input value="Continuer" type="submit" />
        </br></br></br></br>
      </form>
    </section>



  </body>


</html>
