html, body {
    padding: 0;
    height: 100%;
    margin: 0;
}

body {
    display:table;
    width:80%;
    background-color:#1A1A1A;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

header,section,footer {
  display:table-row;
}

section {
  height:75%;
  min-height:100%;
}

footer {
    width: 100%;
    height: 30px;
    text-align: center;
    grid-template-columns: auto auto auto;
}

h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
  }

#bouton_retour {
  text-decoration: none;
  text-align: left;
  color:orange;
  font-size: 20px;
  text-decoration: none;
}

h5 {
  text-decoration: underline;
  font-size: 20px;
  color:orange;
}

header div {
  width:200px;
}

#matchs {
  height: 70px;
  width: 300px;
  background-color: #2A2A2A ;
  border-radius: 4px;
  margin-top: 15px;
  border: solid white 2px;
  text-align: center;
  color:orange;
}

#pts_draw {
  margin-left: 48px;
}

#pts_lose {
  margin-left: 4px;
}

.finalplace1 {
  font-size: 35px;
  color: red;
  margin-bottom: 15px;
}

.finalplace2 {
  font-size: 30px;
  color: orange;
  margin-bottom: 10px;
}

.finalplace3 {
  font-size: 25px;
  color: #614E1A;
  margin-bottom: 10px;
}

overline {
  color: gray;
  text-decoration: line-through;
  margin-right: 5px;
}

.error_msg {
  color: red;
  text-decoration: underline;
  font-size: 20px;
}

.switch {
  position: fixed;
  float: right;
  margin-bottom: 5px;
  margin-top: 17px;
}

.text_switch {
  position: relative;
  float: right;
  right: 10px;
  margin-bottom: 5px;
}

#txt_data {
  position: fixed;
  color: #bbbbbb;
  margin-bottom: 10px;
}

#title_nbr_pts {
  text-decoration-style:dashed;
}

#title_nbr_pts:hover {
  cursor: help;
}

.doc_dl {
  background: #555555 ;
  border: 2px solid grey ;
  width: 25%;
  border-radius: 3px;
  padding: 5px 5px 5px 5px ;
  text-align: center ;
  font-size: 1em;
  color: white;
}

.doc_dl:hover, .doc_dl:focus, .doc_dl:active {
  background: #999999 ;
  text-decoration: underline;
}

section a {
  text-decoration: none;
}

ttsonnberg {
  text-decoration:underline;
  text-decoration-style: dashed;
  cursor: help;
}

#classement_table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

#classement_table td, #classement_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#classement_table tr:nth-child(even){
  background-color: #44444444;
}

#classement_table th {
  background-color: #F07603;
}

#classement_table tr:hover {
  background-color: #56565656;
}

.entry_score_match {
  width: 30px;
}
