<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Générateur de tournoi</title>
    <!-- On importe nos fichiers css -->
    <link href="{{ url_for('static', filename='mon_style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='toggle_switch.css') }}" rel="stylesheet" type="text/css" />
    <!-- On importe la librairie Brython -->
    <script type="text/javascript" src="{{url_for('static', filename='brython.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython_stdlib.js') }}"></script>
    <!-- On importe notre favicon et la police -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>



  <body id="body" onload="brython(1)">

    <header class="site-header">  <h1>Générateur de tournoi</h1>  <!-- On affiche le titre --></header>


    <section  class="site-content">
      <p class="error_msg">{{error_msg}}</p>
      <div id="selection_type">
        <form method="post" action="{{ url_for('player_entry') }}">

          <!--Sélection du type de tournoi-->
          <h5><b>Séléctionnez le type de tournoi :</b></h5>
          <input type="radio" name="type_tournoi" value="Ligue" id="ligue" checked>
          <label for="ligue" title="Dans un tournoi toutes rondes, ou 'fermé', chaque joueur rencontre tous les autres joueurs une fois (ou plus en mode étendu), et reçoit des points en fonction de l'issue de chaque match (victoire, égalité ou défaite). Le classement final est établi à partir du total de points de chaque joueur.">Toutes rondes (Ligue)</label><br/>
          <input type="radio" name="type_tournoi" value="Simple élimination" id="1elim" disabled>
          <label for="1elim" class="simple_elim"><overline>Simple élimination</overline> (Prochainement ...)</label></br>
          <input type="radio" name="type_tournoi" value="Double élimination" id="2elim" disabled>
          <label for="2elim" class="double_elim"><overline>Double élimination</overline> (Prochainement ...)</label>
          <br/><br/>
          <br/><br/>

          <!--Entrée du nombre de joueurs-->
          <h5>Nombre de joueurs:</h5>
          <input type="number" min="0" max="128" value="8" step="1" id="nbr_player" name="nbr_player" />
          </br></br>

          <!--Choix du mode de calcul des points-->
          <h5>Choix du mode d'entrée des résultats:</h5>
          <input type="radio" id="TOR" name="mode_points" value="TOR" required/>
          <label for="TOR">Gagné / Perdu</label>
          </br>
          <input type="radio" id="score" name="mode_points" value="score" required/>
          <label for="score">Score par match</label>
          </br></br>

          <!--Bouton d'envoi du formulaire-->
          <input value="Continuer" type="submit" />
        </form>
      </div>
    </section>



    <footer>
      <a id="txt_data" href="{{ url_for('donnees') }}">Informations sur les données collectées</a>

      <script type="text/python">
        from browser import document

        element = document["body"]

        def change_theme(event):
          element.style.backgroundColor = "#1A1A1A" if element.style.backgroundColor == "white" else "white"
          element.style.color = "white" if element.style.color == "black" else "black"
          document["txt_data"].style.color = "#bbbbbb" if document["txt_data"].style.color == "black" else "black"

        document["switch_theme"].bind("click", change_theme)
      </script>
      <label class="switch">
        <input id="switch_theme" type="checkbox">
        <span class="slider round"></span>
      </label>
      <p class="text_switch">Changez de thème !</p>

    </footer>



  </body>
</html>
