<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Organisation de tournoi</title>
    <!-- On importe notre fichier css -->
    <link href="{{ url_for('static', filename='mon_style.css') }}" rel="stylesheet" type="text/css" />
    <!-- On importe la librairie Brython -->
    <script type="text/javascript" src="{{url_for('static', filename='brython.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='brython_stdlib.js') }}"></script>
    <!-- On importe notre favicon et la police -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body onload="brython(1)">
    <header class="site-header">
      <div><a id="bouton_retour" href="{{ url_for('accueil') }}"><h4>Retour à l'accueil</h4></a></div>
      <h1>{{ type_tournoi }} à {{ nbr_player }} joueurs</h1>
    </header>  <!-- On affiche le titre -->

    <section  class="site-content">
      <form method="post" action="{{ url_for('display') }}">
        {% if nbr_player<=1024 %}        <!--Limitation à 1024 joueurs-->
          {% for i in range(1,nbr_player+1) %}   <!-- Avec jinja on peut utiliser des boucles des conditions etc. (voir la documentation) -->
            <label for=pseudo{{i}}>Pseudo du joueur {{ i }} : </label>        <!-- On affiche le contenu de la liste ligne -->
            <input type="text" name=pseudo{{i}} required minlength="0" maxlength="20" size="10"><br/>
            {% endfor %}
            {% else %}
            <p>Veuillez sélectionner un nombre de joueurs inférieur à 1024</p>
            {% endif %}
            <br/>
            <input value="Continuer" type="submit" />
      </form>
    </section>
    <footer>

    </footer>
  </body>
</html>
